<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food_Network.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C890E8A1D2DA89300B3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C890E9E1D2DA89300B3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C890EA91D2DA89300B3ACE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
